<!DOCTYPE html>
<html lang="en">

<head>
    <title>Real Talk</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="app.js"></script>
    <script src="https://use.fontawesome.com/8616a4a4f3.js"></script>
</head>

<body>

    <div class="header">
        <h1>Real Talk</h1>
    </div>

    <div class="topicContainer">
        <button type="submit" class="previousTopicButton">
                <i class="fas fa-arrow-circle-left"></i>
            </button>

    <div class="topic">

        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut cum fuga animi eveniet ad eius numquam
            culpa officiis labore beatae reiciendis doloribus illum sequi, aliquid inventore delectus obcaecati.
            Eveniet!</h3>

    </div>

    <button type="submit" class="nextTopicButton">
            <i class="fas fa-arrow-circle-right"></i>
</button>
    </div>