<%- include('partials/header.ejs'); %>

    <div class="topicContainer">
        <button type="submit" id="previousTopicButton">
                <i class="fas fa-arrow-circle-left"></i>
            </button>

    <div class="topic">

        <h3><%= topic.topic %></h3>

    </div>

    <button type="submit" id="nextTopicButton">
            <i class="fas fa-arrow-circle-right"></i>
    </button>
    </div>

    <%- include('partials/footer.ejs'); %>