<%- include('partials/header.ejs'); %>

<div class="buttons">
    <ul>
        <li>
            <a href="/topic/friends/1">
                <button class="mainButton" type="submit">Friends</button>
            </a>
        </li>
        <li>
            <a href="/topic/family/1">
            <button class="mainButton" type="button">Family</button>
        </a>
    </li>
        <li>
            <a href="/topic/relationship/1">
                <button class="mainButton" type="button">Relationship</button>
            </a>
        </li>
    </ul>
</div>

<%- include('partials/footer.ejs'); %>