<%- include('partials/header.ejs'); %>

<div class="buttons">
    <ul>
        <% for (category of categories) { %>
        <li>
            <a href="/topic/<%= category %>/1">
                <button class="mainButton" type="submit"><%= category %></button>
            </a>
        </li>
        <% } %>
    </ul>
</div>

<%- include('partials/footer.ejs'); %>