<%- include('partials/header.ejs'); %>

<div class="buttons">
    <ul>
        <li>
            <a href="/friends">
                <button class="mainButton" type="submit">Friends</button>
            </a>
        </li>
        <li>
            <a href="/family">
            <button class="mainButton" type="button">Family</button>
        </a>
    </li>
        <li>
            <a href="/relationship">
                <button class="mainButton" type="button">Relationship</button>
            </a>
        </li>
    </ul>
</div>

<%- include('partials/footer.ejs'); %>