<!DOCTYPE html>
<html lang="en">

<head>
    <title>Real Talk</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script src="app.js"></script>
</head>

<body>
    <div class="header">
        <h1>Real Talk</h1>
    </div>

<div class="buttons">
    <ul>
        <li>
            <a href="/friends">
                <button class="mainButton" type="submit">Friends</button>
            </a>
        </li>
        <li>
            <a href="/family">
            <button class="mainButton" type="button">Family</button>
        </a>
    </li>
        <li>
            <a href="/relationship">
                <button class="mainButton" type="button">Relationship</button>
            </a>
        </li>
    </ul>
</div>

</body>

</html>