body {
    font-family: Courier, sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

h3 {
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.headerContainer {
    text-align: center;
    padding: 2vh 0;
}

.header {
    font-size: 5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.mainButton {
    font: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    width: 12rem;
    height: 2rem;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.topicContainer {
    margin: 0 1rem;
    width: 100%;
}

.topic {
    font-size: 1.2rem;
}

.topic::first-letter {
    text-transform: uppercase;
}

.navButton {
    display: flex;
    align-items:  center;
    width: 2rem;
    height: 2rem;
}

.navButton a {
    font-size: 1.5rem;
    color: black;
}