body {
    font-family: Courier, sans-serif;
}

.headerContainer {
    text-align: center;
    padding: 2vh 0;
}

.header {
    font-size: 5rem;
}

h3 {

}

.buttons a {
    text-decoration: none;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

.buttons {
    display: flex;
    height: 30vh;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.mainButton {
    font: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    width: 200px;
    height: 30px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    display: inline-flex;
    text-align: center;
}

.topicContainer {
    width: 600px;
    margin: 0 1rem;
}

.topic {
    margin-block-start: unset;
    margin-block-end: unset;
}

.navButton {
    display: flex;
    align-items:  center;
    height: 2rem;
}

.navButton a {
    font-size: 1.5rem;
    color: black;
}

@media (max-width: 800px) {

.topic {
    width: 300px;
}
}